body{
    background-color:  #99ddff;
    display: block;
    margin: 0;
    padding: 0;
    
}

#calc_body{
    background-color: yellow;
    display: block;
    width: 200px;
    height:350px;
    margin:5px;
    padding:0;
   
}

#calc_total{
    display: block;
    width: 150px;
    height:30px;
    margin: 10px auto;
    padding:0;
    top: 10px;
    position: relative;
}


    
